# Server
PORT=5000
MONGO_URI=mongodb+srv://desilvashavin30_db_user:W4C2CBa14BgMkHFH@notetaker.yhgd3io.mongodb.net/?appName=NoteTaker
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

# Client
VITE_API_URL=http://localhost:5000/api


desilvashavin30_db_user
W4C2CBa14BgMkHFH